.name {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: beige;
  text-align: center;
  
  height: 200px;
}

.about{
  text-align: center;
  color: blueviolet;
  background-color: beige;
}
.Center{
  text-align: center;
  border: 1px solid black;
  margin-top: 10px;
  height: 400px;
}
.image {
  border-radius: 50px;
  text-align: right;
  
  border: 1px solid black;
}
.text {
  color: aliceblue;
  text-align: center;
  
}
footer {
  background-color: black;
  border-bottom:1px solid black;
  border-top: 1px solid black;
  margin-top: 2px;
  margin-bottom: 0px;
  
}
